.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 80px 10%;
}

.contact_title {
  position: relative;
  text-align: center;
}

.contact_title h1 {
  font-size: 70px;
  font-weight: 600;
}

.title_pattern {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.8;
}

.contact_section {
  display: flex;
  gap: 100px;
  width: 100%;
}

.contact_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact_left h1 {
  font-size: 60px;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact_left p {
  max-width: 550px;
  color: #d8d8d8;
  font-size: 20px;
  line-height: 1.6;
}

.contact_details {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 10px;
}

.contact_detail {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #d8d8d8;
  font-size: 20px;
}

.contact_detail img {
  width: 25px;
  height: 25px;
}

.contact_right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form_group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact_right label {
  color: #d8d8d8;
  font-size: 18px;
  font-weight: 500;
}

.contact_right input,
.contact_right textarea {
  border: 2px solid #333;
  width: 100%;
  padding: 15px 20px;
  border-radius: 8px;
  background: #25252b;
  color: #a0a0a0;
  font-family: inherit;
  font-size: 18px;
  transition: 0.3s;
}

.contact_right input:focus,
.contact_right textarea:focus {
  outline: none;
  border-color: #df8908;
  background: #2d2d35;
}

.contact_submit {
  display: flex;
  justify-content: center;
  border: none;
  color: white;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 100%);
  font-size: 20px;
  font-weight: 500;
  padding: 20px 60px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
  align-self: flex-start;
}

.contact_submit:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(223, 137, 8, 0.4);
}

@media (max-width: 900px) {
  .form_group {
    width: 88%;
  }
  .contact {
    margin: 60px 20px;
  }

  .contact_title h1 {
    font-size: 50px;
  }

  .contact_section {
    flex-direction: column;
    gap: 50px;
  }

  .contact_left h1 {
    font-size: 45px;
  }

  .contact_left p {
    font-size: 18px;
  }

  .contact_right {
    width: 100%;
  }

  .contact_submit {
    width: 100%;
  }
}
